<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Commission</title>
  </head>
  <body>
    <%- include('navbar', LoginData) %>
      <!--for commissions-->
      <div class="container">
        <% for( let commissions = 0;){%>
          <div class="author_comm">
            <!--???-->
            <a href=/user/<%=  >">
              <div>
                <!--lista de comisiones-->
                <div>
                  <img class="user_img" src="">
                  <p class="user_name"></p>
                </div>
                <!--cuadro de mensaje-->
                <div>
                  <label for="auhtor"></label>
                  <p><input type="submit" name="" id="">message</p>
                </div>
              </div>
            </a>
          </div>
        <% } %>
      </div>
  </body>
</html>
