<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Illust</title>
</head>

<body>
    <%- include('navbar', LoginData) %>

    <%= data.illust_data %> 
    <%= data.illust_pages %> 
    <%= data.illust_tags %> 
</body>

</html>