<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bienvenido a MyPix</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/LoginStyle.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div id="tiles"></div>

    <h1 id="title" class="centered">
        Esto es
        <span class="fancy">MyPix</span>
    </h1>
    <h1 id="bottom-title" class="centered">Click To login</h1>

    <i id="icon" class="fa-solid fa-pen-nib centered"></i>

    <div id="logindiv" class="centered">

        <!-- <img id="logimg" class="logimg" src="image.jpg" alt=""> -->

        <!-- <div class="right"> -->
        <h1 class="logintxt">Iniciar sesion</h1>
        <form action="">
            <div id="form-control" class="formdiv">
                
                <input class="loginput" type="text" required>
                <label for="">Correo</label>
            </div>
            <div id="form-control" class="formdiv">
                
                <input class="loginput" type="password" required>
                <label for="">Contraseña</label>
            </div>
            <button class="logbtn">Acceder</button>
            <p class="noaccount">¿No tiene cuenta? <a href="#">Registrarse</a></p>
        </form>
        
        <!-- </div> -->
    </div>

    <a id="source-link" class="meta-link" href="#" target="_blank">
        <i class="fa-solid fa-home"></i>
        <span>Home</span>
    </a>

    <!-- <a id="yt-link" class="meta-link" href="#" target="_blank">
        <i class="fa-brands fa-youtube"></i>
        <span>5 min tutorial</span>
    </a> -->

    <!-- partial -->
    <script src='https://kit.fontawesome.com/944eb371a4.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js'></script>
    <script src="/js/LoginScript.js"></script>

</body>

</html>