<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= AuthorData.nickname %> - MyPix
    </title>
</head>

<body>
    <%- include('navbar', LoginData) %>

    <% if (!match) { %>
        <input type="button" value="editar" class="btn-boton">
        <% }else{ %>
            <input type="button" value="editar" class="btn-boton" hidden>
        <h1> No es el mismo en sesion </h1>
        <% } %>
</body>

</html>