<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Document</title>
    <link rel="stylesheet" href="/css/submitIllustStyle.css">
</head>

<body>
    <%- include('../navbar', LoginData) %>
    <i class="fa-regular fa-upload"></i>
    <div class="head__submit">
        
        <h3>Publicar nueva Ilustración</h3>
    </div>
    
    <script src='https://kit.fontawesome.com/944eb371a4.js'></script>
</body>

</html>